doctype
html
  head
    title= "koryko.ch"
    link(href="https://fonts.googleapis.com/css?family=Open+Sans|Share+Tech+Mono" rel="stylesheet")
    link(href="css/styles.css" rel="stylesheet")
    script(src="node_modules/react/dist/react.js")
    script(src="node_modules/react-dom/dist/react-dom.js")
  body
    div(id="root" class="terminal")
    script(src="bundle.js")

