@import "misc/mixins";
@import "misc/variables";

html, 
body {
	background-color: $bgdarker;
	color: $textColor;
	margin: 0px;
	height: 100%;
	width: 100%;
	font-size: 14px;
}

.terminal {
	@include gradient-radial($bglighter, $bgdarker);	
	font-family: $monospace;
}
