@import '../utils/all';

html,
body {
	background-color: $bgdarker;
	color: $textColor;
	margin: 0px;
	height: 100%;
	width: 100%;
	font-size: 14px;
}

body > #root {
	height: 100%;
	width: 100%;
}

.terminal {
	@include gradient-radial($bglighter, $bgdarker);
	font-family: $monospace;
}