@import "bootstrap";

/**
 * Variables
 */
$background: white;
$sidebarBg: #333333;
$highlight: #ccff66;

/**
 * Defaults
 */
body {
	background-color: $sidebarBg;
}

.container-fluid {
	padding-left: 0px;
}

#sidebar{
	width: 330px;
	background-color: $sidebarBg;
}

#handle{
	background-image: url("../assets/handle.png");
	width: 21px;
	height: 44px;
	display: block;
	position: absolute;
	left: 326px;
}

.logo {

	padding-top: 50px;
	text-align: center;
	
	img {
		margin: 0px auto;
	}
	
	
	h1 {
		color: $highlight;
		font-family: 'Arvo', 'courier new';
		margin: 30px 0px;
		letter-spacing: 5px;
		font-size: 2.35em;
		margin-right: 45px;
	}
	
	nav {
		text-align: right;
		margin-right: 30%;
		a {
			display: block;
			color: silver;
			text-transform: uppercase;
			margin: 20px 0px;
		}
		a:hover {
			color: $highlight;
			text-decoration: none;
		}
	}
}

.splash .logo {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	
	.kt88 {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -35px;
		margin-top: -82px;
	}
}